<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:false,backdropBackgroundColour:'rgba(255,255,255, 0.01)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
</ngx-loading>

<div class="modal-header custom-modal-header">
    <div style="font-size: 20px;">
        Add Wallet Balance
    </div>
    <div class="modal-header-close-btn" (click)="onClose()">
        x
    </div>
</div>

<div class="modal-body custom-modal-body" *ngIf="setting_Obj">
    <form #f="ngForm" novalidate autocomplete="off">
        <div class="row">
            <div class="col-12 ">
                <div class="form-group">
                    <label>Users</label>
                    <p-dropdown *ngIf="users_data.length >0" [options]="users_data" [virtualScroll]="true" [itemSize]="31"  [ngModelOptions]="{standalone: true}" [(ngModel)]="setting_Obj.selectedUser" filter="true"  filterBy="id,name,email,phone,user_unique_id" optionValue="user_unique_id" optionLabel="name"  placeholder="Select User" [style]="{'width':'100%'}" >
                      <ng-template let-user pTemplate="item">
                              <span class="item-value1">{{user.id + " - " +user.user_unique_id + " - " + user.name + " - " + user.email + " - " + user.phone }}</span>
                      </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="col-12 ">
              <div class="form-group">
                  <label>Amount</label>
                  <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount " #amount="ngModel" [(ngModel)]="setting_Obj.amount" required />
                  <div class="alert alert-danger" *ngIf="amount.touched && amount.invalid">
                      <p>Amount can't be blank.</p>
                  </div>
              </div>
          </div>
        </div>
        <div class="footer-block  mb-2 mt-4">
            <button type="submit" *ngIf="dialogType == 'add'" class="btn green-btn" [disabled]="f.invalid || !setting_Obj.selectedUser || !setting_Obj.amount" (click)="addCashTopup()">Add</button>

            <button type="button" class="btn gray-btn" (click)="onClose()">Cancel</button>
        </div>
    </form>
</div>
