<div class="container-fluid" style="width:90%;max-width: 1250px;" *ngIf="permissions.includes('dashboard')">


  <ngx-loading [show]="overallAnaLoading"
    [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:false,backdropBackgroundColour:'rgba(255,255,255, 0.01)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
  </ngx-loading>
  <div class="row pt-4">

    <div class="col-lg-6 col-md-6 ext-centert bank-box-dashbord">
      <div class=" text-center d-block">

       <p style="background-color: #fff;">Bank Transfer Requests</p>
      </div>
      <div class="row bank-box-width">
        <div class="col-md-4">
          <div class="bank-box" style="background-color: #C10037; border-bottom: 2px solid #000;">
            <p>Today</p>
            {{bankTransferRequest.totalBankTransferRequestToday}}
          </div>
        </div>

        <div class="col-md-4">
          <div class="bank-box" style="background-color: #FF5733; border-bottom: 2px solid #000;">
            <p>Current Month</p>
          {{bankTransferRequest.totalBankTransferRequestForCurrentMonth}}
          </div>
        </div>

        <div class="col-md-4">
          <div class="bank-box" style="background-color: #039BAA; border-bottom: 2px solid #000;">
            <p>Till Date</p>
            {{bankTransferRequest.totalBankTransferRequesttillDate}}
          </div>
        </div>

      </div>
    </div>

    <div class="col-lg-6 col-md-6 ext-centert bank-box-dashbord pt-1106" >
      <div class="text-center d-block ">
      <p  style="background-color: #fff;">Bank Transfer Completed Requests </p>
      </div>
      <div class="row bank-box-width">

        <div class="col-md-4">
          <div class="bank-box" style="background-color: #FE2360; border-bottom: 2px solid #000;">
            <p>Today</p>
            {{bankTransferRequest.totalBankTransferCompletedRequestToday}}
          </div>
        </div>

        <div class="col-md-4">
          <div class="bank-box" style="background-color: #57C785; border-bottom: 2px solid #000;">
            <p>Current Month</p>
            {{bankTransferRequest.totalBankTransferCompletedRequestForCurrentMonth}}
          </div>
        </div>

         <div class="col-md-4">
          <div class="bank-box" style="background-color: #2A7B9B; border-bottom: 2px solid #000;">
            <p>Till Date</p>
            {{bankTransferRequest.totalBankTransferCompletedRequesttillDate}}
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-lg-6 col-md-6 ext-centert bank-box-dashbord ">
      <div class=" text-center d-block">
        <p style="background-color: #fff;">Bank Transfer Total vs. Pending</p>
       </div>
        <canvas id="canvas">{{ chart }}</canvas>
    </div>

      <div class="col-lg-6 col-md-6 ext-centert bank-box-dashbord pt-lg-0 pt-1106" >
        <div class="text-center d-block">
        <p  style="background-color: #fff;">Support Requests </p>
        </div>
        <div class="row bank-box-width">

          <div class="col-md-4">
            <div class="bank-box" style="background-color: #FE2360; border-bottom: 2px solid #000;">
              <p>Today</p>
              {{bankTransferRequest.totalBankTransferCompletedRequestToday}}
            </div>
          </div>

          <div class="col-md-4">
            <div class="bank-box" style="background-color: #57C785; border-bottom: 2px solid #000;">
              <p>Current Month</p>
              {{bankTransferRequest.totalBankTransferCompletedRequestForCurrentMonth}}
            </div>
          </div>

           <div class="col-md-4">
            <div class="bank-box" style="background-color: #2A7B9B; border-bottom: 2px solid #000;">
              <p>Till Date</p>
              {{bankTransferRequest.totalBankTransferRequesttillDate}}
            </div>
          </div>


        </div>
      </div>

  </div>

  <!-- Footer -->

  <!-- End of Footer -->
  </div>
  <div class="container-fluid" style="width:90%;max-width: 1250px;" *ngIf="!permissions.includes('dashboard')">
    <div style="border: 1px solid red;text-align:center;padding: 5px;">you don't have permission</div>

    </div>
    <app-footer></app-footer>
