<div class="container-fluid management-tab">
  <ngx-loading [show]="loading"
    [config]="{ backdropBorderRadius: '14px' ,fullScreenBackdrop:true,backdropBackgroundColour:'rgba(255,255,255, 0.01)',primaryColour:'#005eff',secondaryColour:'#005eff',tertiaryColour:'#005eff'}">
  </ngx-loading>

<div class="row mb-2" style="justify-content: space-between;margin:0px;margin-bottom: 2rem;">
  <h1 class="h3 page-title">User Cash Topup</h1>
  <div>
      <div class="btn green-btn" (click)="onClickAddSlider();">
          <span class="dib mr-2"><i class="fas fa-plus"></i></span>
          <div class="dib">Add</div>
      </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12 col-xl-2 col-md-4">
    <div class="form-group">
      <p-dropdown *ngIf="users_data.length >0" [options]="users_data" [virtualScroll]="true" [itemSize]="31"  [ngModelOptions]="{standalone: true}" [(ngModel)]="filters.selectedUser" filter="true"  filterBy="id,name,email" optionValue="id" optionLabel="name"  placeholder="Select User" [style]="{'width':'100%'}" >
        <ng-template let-user pTemplate="item">
                <span class="item-value1">{{user.id + " - " + user.name + " - " + user.email }}</span>
        </ng-template>
      </p-dropdown>
    </div>
  </div>
  <div class="col-12 col-xl-2 col-md-4">
    <div class="form-group">
      <input type="text" class="form-control" id="searchtext" name="searchtext"
        placeholder="Search by text" #searchtext="ngModel" [(ngModel)]="filters.searchtext">
    </div>
  </div>
  <div class="col-12 col-xl-2 col-md-4">
    <div class="form-group">
        <p-calendar #fromdate="ngModel" name="fromdate" [(ngModel)]="filters.from_date" placeholder="From Date"  dateFormat="dd-mm-yy"  showButtonBar="true" [monthNavigator]="true" [maxDate]="todayDate" [readonlyInput]="true" selectOtherMonths="true" appendTo="body"></p-calendar>
    </div>
  </div>
  <div class="col-12 col-xl-2 col-md-4">
    <div class="form-group">

        <p-calendar #todate="ngModel" name="todate" [(ngModel)]="filters.to_date" placeholder="To Date"  dateFormat="dd-mm-yy"  showButtonBar="true" [monthNavigator]="true" [maxDate]="todayDate" [readonlyInput]="true" selectOtherMonths="true" appendTo="body"></p-calendar>
    </div>
  </div>
  <div class="col-12 col-xl-2 col-md-4">
    <div class="form-group">
      <div class="btn blue-btn" (click)="getSlidersWithFilters({'page':1});">
        <div class="dib">Search</div>
      </div>
      <div class="btn gray-btn ml-3" (click)="filters={};getSlidersWithFilters({'page':1});">
        <div class="dib">Reset</div>
      </div>
    </div>
  </div>
  <div class="col-12 col-xl-2 col-md-4 " style="text-align: right;">
    <div class="form-group">
      <div class="btn blue-btn" (click)="exportCurrent();">
        <div class="dib">Export</div>
      </div>
      <div class="btn gray-btn ml-3" (click)="exportAll();">
        <div class="dib">Export All</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
      <div class="c-table-wrapper table-responsive-small">
        <table class="c-table">
          <thead class="c-table-header">
            <tr class="c-table-row c-table-row-header">
              <th class="c-table-cell c-table-header-cell text-pull-left">
                Name
              </th>
              <th class="c-table-cell c-table-header-cell text-pull-left">
                Email
              </th>
              <th class="c-table-cell c-table-header-cell text-pull-left">
                Phone
              </th>

              <th class="c-table-cell c-table-header-cell text-pull-left">
                Amount
              </th>
              <th class="c-table-cell c-table-header-cell text-pull-left">
                Transaction ID
              </th>

              <th class="c-table-cell c-table-header-cell text-pull-left">
                Date
              </th>

            </tr>
          </thead>
          <tbody class="c-table-body" *ngIf="table_data && table_data.length>0">
            <tr class="c-table-row" *ngFor="let tab_data of table_data; let i=index;">
              <td class="c-table-cell c-table-body-cell text-pull-left">{{tab_data.name}}</td>
              <td class="c-table-cell c-table-body-cell text-pull-left">
                {{(tab_data.email)}}
              </td>
              <td class="c-table-cell c-table-body-cell text-pull-left">
                {{(tab_data.phone != "null" ? tab_data.phone : "")}}
              </td>

              <td class="c-table-cell c-table-body-cell text-pull-left">
                {{(tab_data.amount)}}
              </td>
              <td class="c-table-cell c-table-body-cell text-pull-left">
                {{(tab_data.trans_id)}}
              </td>

              <td class="c-table-cell c-table-body-cell text-pull-left">
                {{(tab_data.order_date | date: 'dd-MM-yyyy')}}
              </td>



            </tr>
          </tbody>
          <tbody class="c-table-body" *ngIf="(!table_data || table_data.length==0)">
            <tr class="c-table-row">
              <td class="c-table-cell c-table-body-cell text-center" colspan="6">{{loading ? "Fetching a Data" : "No Data Available"}} </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
          <div class="share-pagination">
              <app-shared-pagination [paginationValues]="paginationValues" (onChange)="getSlidersWithFilters($event)">
              </app-shared-pagination>
          </div>
      </div>
  </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
<!-- End of Footer -->
